.main{
    background-color: rgb(8, 170, 153);
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    font: 'Ubuntu',sans-serif;
}
.logo
{
    max-width: 80px;
}
header
{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.navigation
{
    display: flex;
}
.navigation li
{
    list-style: none;
}
.navigation li a 
{
    position: relative;
    color: yellow;
    text-decoration: blueviolet;
    margin-left: 40px;
}
.content .text
{
    width: 100px;
    max-width: 600px;
}
.content .text h2
{
    color: rgb(132, 174, 90);
    font-size: medium;
    font-weight: 300;
}
p
{
    color:crimson;
    margin: 30px;
}
h2
{
    color: brown;
}
.slider
{
    position: relative;
}
.slider .slides
{
    display: none;
}
.slider .slides.active
{
    display: block;
}
.slides .slides img
{
    width: 100%;
    max-width: 600px;
}
